body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

.images-links {
  width: 40px;
}

.table{
  border: 2px solid grey;
  text-align: center;
}
#caption{
  margin-block-end: 10px;
}

tr:nth-child(odd){
  background-color: gray;
}