body {
  background-color: rgb(253, 251, 251);
  padding: 2%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.733);
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
}

.images-links {
  width: 40px;
}

.table {
  border: 2px solid grey;
  text-align: center;
}

#caption {
  margin-block-end: 10px;
}

tr:nth-child(odd) {
  background-color: gray;
}

#minha_foto {
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  width: 210px;
}

#rodape {
  margin-top: 15px;
  text-align: center;
}
